.conteinerList {
    background-image: url('../../public/image/logoCoop.png'); /* Ruta a la imagen en el directorio public */
    background-size: 400px 400px; /* (Cover) Ajusta el tamaño de la imagen para cubrir todo el contenedor */
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    min-height: 86vh; /* Ajusta la altura del contenedor para que ocupe al menos el alto de la ventana */
    /* display: flex; */
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
  }

  .searchList{
    border: white 8px ridge;
    padding: 10px;
  }

  .tablaDirectorio{
    padding: 10px;
  }

  .titleIntEmail{
    text-align: center;
    background-color: green;
    color: white;
    padding: 8px;
  }

  .emailDirecc :hover{
    color: blue !important;
    cursor: pointer !important;
  }