.conteinerNotebook {
    background-image: url('../../public/image/notebook.jpg'); /* Ruta a la imagen en el directorio public */
    background-size: cover; /* Ajusta el tamaño de la imagen para cubrir todo el contenedor */
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    min-height: 93vh; /* Ajusta la altura del contenedor para que ocupe al menos el alto de la ventana */
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
    text-align: center;
    color: white;
    padding: 15px;
  }

  .formNotebook{
    border: white 8px groove;
    padding: 15px;
    color: black;
  }

  .tablaDataNotebook{
    padding: 10px;
  }
